<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Happy Code, Happy Coding, Happy Coding Initializr, Spring Boot, Spring Cloud, Spring Cloud Alibaba">
    <base target="_blank" />
    <title>Happy Coding Initializr</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./script/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="./script/codemirror/theme/3024-day.css">
    <link rel="stylesheet" href="./style/index.css">
    <link rel="stylesheet" href="./fonts/iconfont.css">
    <link rel="icon" href="./images/favicon.ico">
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <div class="header-log"><img src="./images/cover-logo.jpeg"> <span>happy coding</span> </div>
            <div class="header-index">
                <ul>
                    <li class="iconfont .icon-wendang"><a href="http://www.happycoding.cool"><span class="iconfont">&#xe622; 文档</span></a></li>
                    <li><a href="https://github.com/happy-coding-cool"><span class="iconfont">&#xe501; Github</span></a></li>
                </ul>
            </div>
        </el-header>
        <div style="margin: 10px;"></div>
        <el-form label-width="160px" :model="happyCodeForm" label-position="right">
            <el-form-item label="项目构建方式" >
                <el-radio-group v-model="happyCodeForm.build">
                    <el-radio label="maven">Maven Project</el-radio>
                    <el-radio label="gradle">Gradle Project</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="Happy Code版本" >
                <el-radio-group v-model="happyCodeForm.happyCodeVersion">
                    <el-radio label="1.0.1.RELEASE">1.0.1.RELEASE</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="项目基本信息">
                <label class="title">Group</label><el-input v-model="happyCodeForm.projectMetadata.group" placeholder="Group"></el-input>
                <label class="title">Artifact</label><el-input  v-model="happyCodeForm.projectMetadata.artifact" placeholder="Artifact"></el-input>
                <label class="title">name</label><el-input v-model="happyCodeForm.projectMetadata.name" placeholder="name"></el-input>
                <el-collapse v-model="activeProject">
                    <el-collapse-item title="高级选项" name="1">
                        <label class="title">Description</label><el-input v-model="happyCodeForm.projectMetadata.description" placeholder="Description"></el-input>
                        <label class="title">Package name</label><el-input v-model="happyCodeForm.projectMetadata.proPackage" placeholder="Package name"></el-input>
                        <label class="title">author</label><el-input v-model="happyCodeForm.author.name" placeholder="Author"></el-input>
                        <label class="title">email</label><el-input  v-model="happyCodeForm.author.email" placeholder="Email"></el-input>
                        <label class="title">Java版本</label>
                        <el-radio-group v-model="happyCodeForm.projectMetadata.javaVersion">
                            <el-radio label="1.8">8</el-radio>
                            <el-radio label="11">11</el-radio>
                            <el-radio label="15">15</el-radio>
                        </el-radio-group>
                    </el-collapse-item>
                </el-collapse>
            </el-form-item>
            <el-form-item label="数据库配置">
                <el-collapse class="db-settings">
                    <el-collapse-item title="数据库配置" name="1">
                        <label class="title">host</label><el-input v-model="happyCodeForm.database.host"></el-input>
                        <label class="title">port</label><el-input v-model="happyCodeForm.database.port"></el-input>
                        <label class="title">username</label><el-input v-model="happyCodeForm.database.username"></el-input>
                        <label class="title">password</label><el-input v-model="happyCodeForm.database.password"></el-input>
                        <label class="title">schema</label><el-input v-model="happyCodeForm.database.schema"></el-input>
                        <label class="title">tablePrefix <el-tooltip class="item" effect="light" content="多个前缀逗号分割" placement="right-start">
                            <i class="el-icon-question"></i>
                        </el-tooltip></label><el-input v-model="happyCodeForm.database.tablePrefix"></el-input>
                        <el-button icon="el-icon-thumb" class= "search-db-table" @click="listTables" type="info" plain>
                            选择表信息
                        </el-button>
                    </el-collapse-item>
                </el-collapse>
            </el-form-item>
            <el-drawer
                    title="选择库表信息"
                    :visible.sync="table"
                    :direction="direction"
                    size=35%>
                <template>
                    <el-table
                            ref="multipleTable"
                            :data="tableData"
                            style="width: 100%"
                            @selection-change="handleSelectionChange">
                        <el-table-column
                                type="selection"
                                width="55">
                        </el-table-column>
                        <el-table-column
                                label="表名"
                                prop="name">
                        </el-table-column>
                        <el-table-column
                                label="描述"
                                prop="comment">
                        </el-table-column>
                    </el-table>
                </template>
            </el-drawer>
        </el-form>

        <el-dialog
                :title="happyCodeForm.projectMetadata.artifact"
                :visible.sync="dialogVisible"
                class="preview-dialog"
                width="70%">
            <div class="tree-container preview-left">
                <el-tree
                    :data="filesTree"
                    node-key="label"
                    :default-expanded-keys = "defaultExpandedKeys"
                    @node-expand="handleNodeExpand"
                    @node-click="getFilesDetails"
                    ref="tree">
                    <span v-if="data.isFolder == true" class="iconfont icon-wenjianjia4" slot-scope="{node, data }">
                        {{ node.label }}
                    </span>
                    <span v-else-if="data.label == 'mvnw'
                                || data.label == 'mvnw.cmd'
                                || data.label == 'maven-wrapper.jar'
                                || data.label == 'gradle-wrapper.jar'
                                || data.label == 'gradlew.bat'
                                || data.label == 'gradlew'"
                          class="iconfont icon-wenjian tree-node-disable" slot-scope="{node, data }">
                       {{ node.label }}
                    </span>
                    <span v-else class="iconfont icon-wenjian" slot-scope="{node, data }">
                         {{ node.label }}
                    </span>
                </el-tree>
            </div>
            <div class="preview-right">
                <textarea ref="textarea"> </textarea>
                <div class="preview-content" ref="previewMd"> </div>
            </div>
        </el-dialog>

        <el-footer>
            <div class="footer-copyright">© 2020-2021 happycoding.cool<br>happycoding is powered by<br><span><a href="http://www.happycoding.cool" target="_blank">happycoding.cool</a></span></div>
            <div class="footer-download"><el-button @click="startZip" type="primary"  plain>获取代码<span class="desktop-only">- ⌘ + ⏎</span></el-button><el-button type="info" @click="preview" plain>预览代码<span class="desktop-only">- Ctrl + Space</span></el-button></div>
        </el-footer>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="script/codemirror/lib/codemirror.js"></script>
<script src="script/codemirror/mode/clike/clike.js"></script>
<script src="script/codemirror/mode/xml/xml.js"></script>
<script src="script/codemirror/mode/markdown/markdown.js"></script>
<script src="script/codemirror/mode/yaml/yaml.js"></script>
<script src="script/codemirror/mode/shell/shell.js"></script>
<script src="script/jszip.min.js"></script>
<script src="script/index.js"></script>
</html>